.sidebar
{
  position: fixed;
  background-color: white;
  left:0;
  bottom: 0;
  top:55px;
  width: 72px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(222, 222, 222);
  z-index: 101;
  border-right: none;
}

.sidebar-link
{
  height:76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 400;
}

.sidebar-link:hover
{
  background-color: rgb(240, 239, 239);
  cursor: pointer;
}

.home
{
  width:35%;
  padding-bottom: 5px;
}